
.banner__container{
   background-image: url(../../img/banner.png);
   background-repeat: no-repeat;
   width: 100%;
   height: 586px;
}

.banner__textos{
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
   align-items: start;
   position: relative;
   left: 55%;
   top: 40%;
}

.banner__textos h2{
   font-size: 2.5rem;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--color2);
}

.banner__textos p{
   font-size: 1.10rem;
   font-weight: 400;
   color: var(--color2);
}

.banner__textos a{
   font-weight: 600;
   color: var(--color2);
   background-color: var(--color3);
   padding: 0.85rem;
}